.expand-btn {
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    

}

.underline {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-position: under;
}

.underline:hover {
    text-decoration: none;
    color: #ddfdfeff;
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-position: under;

}