
/* :root refers to the root element of the whole html, usually <html></html> */

html{
    --paynes-gray: #546a76ff;
    --dark-purple: #1d1128ff;
    --emerald: #26c485ff;
    --ghost-white: #e0e1e9ff;
    --light-cyan: #ddfdfeff;
    font-family: 'Vollkorn', serif !important;
}

.container {
  width: 75%;
  height: 100vh;
  float:right;
  margin-top: 0px;
  min-width: 75%;
  font-family: 'Vollkorn', serif !important;

}

.main-content{
  /* padding: 100px 50px 40px; */
  padding: 100px 80px 60px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.back-link a{
  text-decoration:none;
  color: #26C485;
}

.back-link a:hover{
  text-decoration:none;
  color: #1D1128;
}


